fieldset {
  border: 1px solid #b8c9d6 !important;
  border-radius: 6px;
  background: #fff;
  position: relative;
}

fieldset legend {
  float: none;
  width: auto;
  margin-left: 10px;
  padding: 3px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  background-color: #d9edf7;
  border: 1px solid #9ec5d8;
  border-radius: 50px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    background: rgb(235, 234, 234);
    font-size: 12px;
}

#inBody {
  padding: 10px;

}
fieldset {
  background: #fff;
}

fieldset legend {
  font-size: 14px;
  color: #333;
}



.form-control {
  font-size: 12px;
}

.form-check-label,
.col-form-label {
  font-size: 13px;
}

.form-check-input {
  margin-top: 0.2em;
}

.input-group-text {
  padding: 0 8px;
}

.input-group-text i {
  font-size: 13px;
}
