<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm custom-navbar">

  <div class="container-fluid px-3">

    <button class="btn btn-link text-dark p-0 me-3" type="button" aria-label="Toggle sidebar" (click)="onToggle()">
      <i class="bi bi-list fs-4"></i>
    </button>

    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">

      <span class="logo-text">fruiSCE</span>

    </a>


    <!-- MOBILE TOGGLE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">

      <span class="navbar-toggler-icon"></span>

    </button>


    <!-- NAVIGATION -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- LEFT MENU -->
      <ul class="navbar-nav align-items-lg-center">

        <!-- CLIENT -->
        <li class="nav-item dropdown hover-dropdown">

          <a class="nav-link dropdown-toggle" href="javascript:void(0)">

            <i class="bi bi-person"></i>
            Client

          </a>

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="/client/list">
                Client List
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/client/create">
                Create Client
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/client/settings">
                Client Settings
              </a>
            </li>

          </ul>

        </li>


        <!-- INBOUND -->
        <li class="nav-item dropdown hover-dropdown">

          <a class="nav-link dropdown-toggle" href="javascript:void(0)">

            <i class="bi bi-box-arrow-in-right"></i>
            Inbound

          </a>

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="/inbound/orders">
                Inbound Orders
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/inbound/receiving">
                Receiving
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/inbound/putaway">
                Put Away
              </a>
            </li>

          </ul>

        </li>


        <!-- OUTBOUND -->
        <li class="nav-item dropdown hover-dropdown">

          <a class="nav-link dropdown-toggle" href="javascript:void(0)">

            <i class="bi bi-box-arrow-right"></i>
            Outbound

          </a>

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="/outbound/orders">
                Outbound Orders
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/outbound/picking">
                Picking
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/outbound/packing">
                Packing
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/outbound/shipping">
                Shipping
              </a>
            </li>

          </ul>

        </li>

      </ul>



      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown hover-dropdown more-menu-container">

          <a class="nav-link dropdown-toggle more-link" href="javascript:void(0)">

            <i class="bi bi-three-dots"></i>
            More

          </a>

          <ul class="dropdown-menu dropdown-menu-end more-dropdown">

            <!-- REPORTS WITH NESTED MENU -->
            <li class="dropdown-submenu">

              <a class="dropdown-item d-flex justify-content-between align-items-center" href="javascript:void(0)">

                <span>
                  <i class="bi bi-bar-chart me-2"></i>
                  Masters
                </span>

                <i class="bi bi-chevron-left"></i>

              </a>

              <!-- NESTED MENU -->
              <ul class="dropdown-menu report-submenu">
                <li>
                  <a
  class="dropdown-item"
  href="/master/supplier">
                    <i class="bi bi-graph-up me-2"></i>
                    Supplier
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/reports/sales">

                    <i class="bi bi-graph-up me-2"></i>
                    Product

                  </a>
                </li>

              </ul>

            </li>

            <li>
              <a class="dropdown-item" routerLink="/settings">
                <i class="bi bi-gear me-2"></i>
                Settings
              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/help">
                <i class="bi bi-question-circle me-2"></i>
                Help
              </a>
            </li>

          </ul>

        </li>

      </ul>

    </div>

  </div>

</nav>
