<header class="header">
  <div class="header-left">
    <button type="button" class="menu-btn" (click)="onToggle()" title="Toggle navigation">
      <i class="pi pi-bars"></i>
    </button>

    <div class="brand">
      <span class="brand-logo">Nexus</span>
      <span class="brand-title">Nexus WMS</span>
    </div>
  </div>

  <div class="header-right">
    <button type="button" class="icon-btn" title="Help">
      <i class="pi pi-question-circle"></i>
    </button>

   

    <button type="button" class="user-btn">
      <span class="user-avatar">
        <i class="pi pi-user"></i>
      </span>
      <span class="user-name">{{ username }}</span>
      <i class="pi pi-angle-down"></i>
    </button>
  </div>
</header>
